target
**/*.rs.bk
repo/
vendor/
.flatpak-builder
cargo-sources.json
flatpak-cargo-generator.py
projectpad/fontawesome-5.13.0/
projectpad/src/icons.bin
projectpad-gtk4/src/resources.bin
projectpad-gtk4/fontawesome-5.13.0/
