[Desktop Entry]
Comment=
Terminal=false
Name=Projectpad
Exec=projectpad-gtk4
Categories=Utility
Type=Application
Icon=com.github.emmanueltouzery.projectpad
