.list-item-box {
  padding: 5px;
}

.project-item-prod {
  background: rgba(255, 0, 0, 0.4);
  padding: 2px;
  border-radius: 3px;
}
.project-item-uat {
  background: rgba(255, 165, 0, 0.4);
  padding: 2px;
  border-radius: 3px;
}

.frame-group {
  padding: 20px;
}
