.list-item-box {
  padding: 5px;
}

.project-item-prod {
  background: @red_5;
  padding: 2px;
  border-radius: 3px;
}
.project-item-uat {
  background: @orange_5;
  padding: 2px;
  border-radius: 3px;
}
.project-item-staging {
  background: @green_5;
  padding: 2px;
  border-radius: 3px;
}
.project-item-dev {
  background: @blue_5;
  padding: 2px;
  border-radius: 3px;
}

button.toggle-project-item-prod label {
  background: @red_5;
  padding: 2px;
  border-radius: 3px;
}
button.toggle-project-item-uat label {
  background: @orange_5;
  padding: 2px;
  border-radius: 3px;
}
button.toggle-project-item-staging label {
  background: @green_5;
  padding: 2px;
  border-radius: 3px;
}
button.toggle-project-item-dev label {
  background: @blue_5;
  padding: 2px;
  border-radius: 3px;
}

.frame-group {
  padding: 20px;
}

dropdown.flat:not(:hover) button {
  background: transparent;
}

.project_poi_header_titlebox_retired {
  background: repeating-linear-gradient(
    -45deg,
    mix(var(--headerbar-bg-color), var(--headerbar-fg-color), 0.1),
    mix(var(--headerbar-bg-color), var(--headerbar-fg-color), 0.1) 15px,
    var(--headerbar-bg-color) 15px,
    var(--headerbar-bg-color) 30px
  );
  border-radius: 8px;
}
