.item_list {
  background-color: @theme_bg_color;
}

.items_frame {
  background-color: @theme_base_color;
}

.items_frame_title {
  border-left: 5px solid black;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 5px 5px 10px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.header_frame_title {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 5px 5px 10px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.item_label {
  opacity: 0.6;
  font-weight: bold;
}

.project_item_header {
  background-color: #7590ae;
  padding: 5px;
  text-decoration: underline;
}

/* https://elementaryos.stackexchange.com/a/22239/23318 */
.scrollgradient undershoot.top {
  background: linear-gradient(
    @theme_bg_color 0,
    alpha(@theme_bg_color, 0) 12px
  );
}
