.item_list {
  background-color: @theme_bg_color;
}

.items_frame {
  background-color: @theme_base_color;
}

.search_result_frame {
  background-color: @theme_base_color;
  padding: 10px;
}

.search_result_project_title {
  font-size: 15px;
  font-weight: bold;
}

.search_result_item_title {
  font-size: 13px;
  font-weight: bold;
  padding: 15px;
}

.search_result_item_link {
  color: #4b6983;
  text-decoration: underline;
}

.search_result_item_subtext {
}

.search_result_action_btn {
  padding: 7px;
}

.project_poi_header_titlebox_retired {
  background: repeating-linear-gradient(
    -45deg,
    #eeeeee,
    #eeeeee 15px,
    white 15px,
    white 30px
  );
}

.items_frame_title {
  border-left: 5px solid black;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 5px 5px 10px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.header_frame_title {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 5px 5px 10px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.project_name_tooltip {
  color: @theme_base_color;
  background-color: @theme_text_color;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border: 2px solid @theme_base_color;
}

.item_label {
  opacity: 0.6;
  font-weight: bold;
}

.project_item_header {
  padding: 10px;
  font-weight: bold;
  font-variant: small-caps;
}

.server_item_header {
  padding-left: 10px;
  padding-top: 30px;
  font-size: 15px;
  font-weight: bold;
  /* border-bottom: 1px solid black; */
}

/* https://elementaryos.stackexchange.com/a/22239/23318 */
.scrollgradient undershoot.top {
  background: linear-gradient(
    @theme_bg_color 0,
    alpha(@theme_bg_color, 0) 12px
  );
}

.server_note_title {
  padding-left: 10px;
  font-size: 15px;
  font-weight: bold;
}

.search_view_parent.title {
  font-size: 15px;
}

.search_view_parent {
  border-left-width: 3px;
  border-left-color: black;
  margin-top: 7px;
}

.search_view_child {
  border-top-width: 0px;
}

/* https://developer.gnome.org/hig-book/unstable/design-color.html.en */
.environment_label_dev {
  background: #46a046; /* greenish */
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 3px;
  font-size: 11px;
}
.environment_label_uat {
  background: #eed680; /* yellowish */
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 3px;
  font-size: 11px;
}
.environment_label_stg {
  background: #7590ae; /* blueish  */
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 3px;
  font-size: 11px;
}
.environment_label_prod {
  background-color: #df421e; /* reddish */
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 3px;
  font-size: 11px;
}

.search_frame {
  background-color: @theme_base_color;
}

.section_title {
  font-weight: bold;
  padding-top: 10px;
}

label accelerator {
  color: gray;
}
