.item_list {
  background-color: @theme_bg_color;
}

.items_frame {
  background-color: @theme_base_color;
}

.search_result_frame {
  background-color: @theme_base_color;
  padding: 10px;
}

.search_result_item_title {
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
}

.search_result_item_link {
  color: #4b6983;
  text-decoration: underline;
}

.items_frame_title {
  border-left: 5px solid black;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 5px 5px 10px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.header_frame_title {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 5px 5px 10px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.item_label {
  opacity: 0.6;
  font-weight: bold;
}

.project_item_header {
  background-color: #7590ae;
  padding: 5px;
  text-decoration: underline;
}

/* https://elementaryos.stackexchange.com/a/22239/23318 */
.scrollgradient undershoot.top {
  background: linear-gradient(
    @theme_bg_color 0,
    alpha(@theme_bg_color, 0) 12px
  );
}

/* https://developer.gnome.org/hig-book/unstable/design-color.html.en */
.environment_label_dev {
  background: #46a046; /* greenish */
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 3px;
}
.environment_label_uat {
  background: #eed680; /* yellowish */
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 3px;
  font-size: 11px;
}
.environment_label_stg {
  background: #7590ae; /* blueish  */
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 3px;
}
.environment_label_prod {
  background-color: #df421e; /* reddish */
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 3px;
  font-size: 11px;
}
