[package]
name = "projectpad"
version = "1.99.0"
authors = ["Emmanuel Touzery <etouzery@gmail.com>"]
edition = "2018"

[build-dependencies]
reqwest = { version = "0.10.6", features = ["blocking"] }
flate2 = "1.0.16"
tar = "0.4.29"
includedir_codegen = "0.6.0"

[dependencies]
# relm = "0.20.0"
# relm: take in a clippy fix merged after 0.20.0
relm = { git = "https://github.com/antoyo/relm", rev = "297c7844ca20031880ac60789dee7295c52f6e7c" }
relm-derive = "0.20.0"
glib = "0.10.1"
gio = "0.9.0"
cairo-rs = { version = "0.9.1", features = ["png"] }
gdk = "0.13.0"
projectpadsql = { path = "../projectpadsql" }
diesel = { version = "1.4.5", features = ["sqlite"] }
pango = "0.9.0"
pulldown-cmark = {version = "0.7.2", default-features=false }
itertools = "0.9.0"
strum = "0.19.2"
chrono = "0.4.15"
includedir = "0.6.0"
phf = "0.8.0"
sourceview = "0.9.0"
serde = "1.0.116"
serde_derive = "1.0.116"
toml = "0.5.6"
dirs = "3.0.1"

[dependencies.gtk]
version = "0.9.1"
features = ["v3_22_29"]
